.form-tabs {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    @include background-opacity(5);

    .tab {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;

        width: 7rem;
        height: 1.75rem;
        padding-left: .5rem;

        line-height: 1;
        color: #888;

        border-right: solid 1px $color-backdrop;

        @include background-opacity(6.25);

        .tab-close {
            display: flex;
            cursor: pointer;

            padding: .5rem;
            opacity: 0;
            font-size: .625rem;

            transition: opacity .25s;

            &:before {
                content: "\002715";
            }
        }

        .tab-title {
            display: block;
            cursor: default;

            &:before {
                content: "\002325";

                padding-right: .5rem;
            }
        }

        &.selected {
            color: #aaa;

            @include background-opacity(12.5);
        }

        &.hidden {
            display: none;
        }

        &:hover {
            .tab-close {
                opacity: 1;
            }
        }
    }
}
