.code {
  display: block;

  max-height: 20rem;
  padding: .5rem;
  padding-left: 1rem;

  color: rgba(255, 255, 255, .875);
  font-family: "Ubuntu Mono", monospace;
  font-size: .875rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;

  background: black;

  border-left: 4px solid $color-links;

  &:before {
    color: $color-links;
  }

  &.code--root:before {
    content:"root@server:~# ";
  }

  &.code--mysql:before {
    content:"mysql> ";
  }

  &.code--user:before {
    content:"user@server:~> ";
  }
}
