.custom {
  width: 52rem;
  margin-bottom: 2rem;
  padding: 2rem;

  color: black;
  background-color: white;

  border-radius: 3px;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    margin: .75rem 0;
  }

  hr {
    display: block;
    position: relative;

    width: 3rem;
    height: 0;
    margin: 3rem auto;

    background: transparent;
    border: none;
    border-top: dotted .625rem black;
  }

  ul {
    margin-left: 2rem;

    li {
      margin: .5rem 0;
      list-style: disc;
    }
  }

  code {
   	display: block;

    max-height:  15rem;
    margin: 2rem 0;
    padding: .5rem;
    padding-left: 1rem;

    color: #eee;
    font-family: monospace;
    font-size: .875rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;

    background: black;

    border-left: 4px solid $color-links;

    &:before {
      content:"user@server:~> ";

      color: $color-links;
    }

    &.root:before {
      content:"root@server:~# ";
    }

    &.mysql:before {
      content:"mysql> ";
    }

    &.no:before {
      content: "";
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}
