.header {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items:center;

  width: 100%;
  height: 4rem;

  .header__link {
    display: block;

    border-bottom: none;
  }

  .header__icon {
    display: block;
    fill: #444;
    transition: .3s;

    &:hover {
      fill: $color-links;
    }
  }

  @media screen and (max-width: 767px) {
    height: 3.5rem;
  }
}
