.info {
  display: flex;
  flex-flow: column nowrap;

  width: 40rem;
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .info__head {
    font-size: 1.75rem;
    font-weight: 300;
		text-align: center;
  }

  .info__code {
    display: block;

    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    font-family: $font-monospace;

    border-radius: 4px;
    color: #abb2bf;
    font-size: 14px;

border: solid 1px #21252b;
background-color: #282c34;
li {
  margin-left: 2rem;

  span:first-child {
    color: #d19a66;
  }
    span:last-child {
      color: #56b6c2;
    }

    &:nth-last-child(n+2):after {
      content: ",";
    }

}
    &:before {
      content: "{";

      display: block;
    }

    &:after {
      content: "}";

      display: block;
    }
  }
}
