.wrap {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  padding: 0 1.5rem;

  @media screen and (max-width: 767px) {
    padding: 0 1rem;
  }
}
