<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />		
 		<link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" /> 
		<title>Закройте это окно</title>
		<style type="text/css">
			html,body{margin:0;padding:0;}
			body{text-align:center; padding-top:20px; font:normal 14px/1.5 "PT Sans", sans-serif;}			
			p{margin:5px;}
		</style> 
		<script type="text/javascript">
			window.close()
		</script> 
	</head>
	<body>
		<p>Просто закройте окно, если это не произошло автоматически</p>
	</body>
</html>      
