.user-input {
  input {
    flex: 1 1 auto;
    outline: none;

    &[type="text"] {
      padding-left: .5rem;

      color: $color-regular;
      background: $color-backdrop;
    }

    &[type="submit"] {
      visibility: hidden;
    }
  }

  span {
    color: rgba(255, 255, 255, .85);
  }

  b {
    font-weight: normal;
    font-style: normal;
    color: $color-magenta;
  }

  i {
    font-style: normal;
    font-weight: normal;
    color: $color-cyan;
  }
}
