.user-output {
  p {
    display: block;

    margin: 0 0 .5rem;
    white-space: pre-wrap;
  }

  ul {
    display: block;

    margin: 0 0 .5rem;

    li {
      display: block;

      margin-left: 1rem;
      white-space: pre-wrap;

      &:before {
        content: "*";

        padding-right: .5rem;
      }
    }
  }

  ol {
    display: block;

    margin: 0 0 .5rem;

    li {
      display: block;

      margin-left: 1rem;
      white-space: pre-wrap;
    }
  }

  code {
    display: block;

    white-space: pre-wrap;
  }
}
