@import "reset";

$color-links: #7bd;
$color-backdrop: #111;
$color-regular: #ddd;
$color-magenta: #d291e4;
$color-cyan: #50d5e5;

$font-regular: "Ubuntu Mono", monospace;

body {
  display: block;
  position: relative;

  width: 100%;
  padding: .5rem;

  font: 400 14px/1.5 $font-regular;
  color: $color-regular;
  background: $color-backdrop;
}

a {
  display: inline-block;

  line-height: 1.25;
  color: $color-links;
  text-decoration: none;
  transition: border .25s;

  border-bottom: solid 1px $color-links;

  &:hover {
    border-color: transparent;
  }
}

button {
  background-color: transparent;
  border-color: transparent;
}

::selection {
  background-color: $color-links;
  color: white;
}

::placeholder {
  color: silver;
}

@mixin background-opacity($opacity) {
    background-color: rgba(255, 255, 255, $opacity / 100);
}

@import "form/banner";
@import "form/terminal";
@import "form/tabs";

@import "user/output";
@import "user/input";
