<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Modern and convenient lookup service">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IP Lookup / notset services</title>

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

	<link href="https://lukin.nyc3.digitaloceanspaces.com/notset/favicon.png" rel="icon" type="image/png">
	<link rel="stylesheet" href="/assets/styles.min.css" type="text/css" media="all" />

	<meta name="theme-color" content="#222222">
</head>

<body>
	<section class="wrap">
		<div class="info">
			<p class="info__head" data-js="ip"><?= $ip ?></p>
		</div>
	</section>

	<footer class="footer">
		<p class="footer__copy">2017 &ndash;&nbsp;<a class="footer__link" href="https://lukin.me/ask/#/notset.ru">Anton Lukin</a></p>
	</footer>

	<script src="/assets/scripts.min.js"></script>
</body>
</html>
