$color-links: #7bd;
$color-regular: #ddd;

$font-regular: "Ubuntu", sans-serif;
$font-monospace: "Ubuntu Mono", monospace;

body {
  display: block;
  position: relative;

  width: 100%;

  font: 300 16px/1.5 $font-regular;
  color: #ddd;
  background: #222;

  &.body--light {
    background: #fff;
    color: #111;
  }
}

a {
  color: $color-links;
  border-bottom: solid 1px $color-links;
  text-decoration: none;

  transition: .25s;

  &:hover {
    border-color: transparent;
  }
}

button {
  background-color: transparent;
  border-color: transparent;
}

::selection {
  background-color: $color-links;
  color: white;
}

::placeholder {
  color: silver;
}
