$color-links: #7bd;
$color-backdrop: #000;
$color-regular: #eee;
$color-magenta: #d291e4;
$color-cyan: #50d5e5;

$font-regular: "Ubuntu Mono", monospace;

body {
  display: block;
  position: relative;

  width: 100%;
  padding: .5rem;

  font: 400 14px/1.5 $font-regular;
  color: $color-regular;
  background: $color-backdrop;
}

a {
  display: inline-block;

  line-height: 1.25;
  color: $color-links;
  text-decoration: none;
  transition: .25s;

  border-bottom: solid 1px $color-links;

  &:hover {
    border-color: transparent;
  }
}

button {
  background-color: transparent;
  border-color: transparent;
}

::selection {
  background-color: $color-links;
  color: white;
}

::placeholder {
  color: silver;
}
